.cl1{


max-width: 800px;
margin: 30px;

}
.cl1 :hover{
	text-decoration-color: red;
}
h6{

}
img{
	max-width: 300px;
	width: 100px;
	height: 100px;

}
.bd{
	background-color: rgba(82, 242, 101,.3);
}