h2{
  text-decoration-color: blue;
  color: #2f9c30;
}

.form-control{
 outline-color: green;
}
.btn{
   margin: 10px;
}
.login{
	margin: 0px;
	text-align: center;
 width: 500px;
 height: 100%;
  align : center;
}